@font-face {
	font-family: 'Segoe UI';
	src: url('segoeui.ttf')  format('truetype');
}

@font-face {
	font-family: 'Segoe UI';
	src: url('segoeuib.ttf')  format('truetype');
	font-weight:bold;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('segoeuii.ttf')  format('truetype');
	font-style: italic;
}

@font-face {
	font-family: 'Liberation Serif';
	src: url('LiberationSerif-Bold.ttf')  format('truetype');
	font-weight: bold;
}

/* This is to basically ignore these elements for styling. Everything will be handled in the app-wrap div */
html, body {
/*	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;*/
	min-width: 1000px;
}

body {
	margin: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", sans-serif;
	font-size: 12pt;
	min-width: 1000px;
	background-color: #e7eef8;
}