@font-face {
	font-family: 'Segoe UI';
	src: url('segoeui.ttf')  format('truetype');
}

@font-face {
	font-family: 'Segoe UI';
	src: url('segoeuib.ttf')  format('truetype');
	font-weight:bold;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('segoeuii.ttf')  format('truetype');
	font-style: italic;
}

@font-face {
	font-family: 'Liberation Serif';
	src: url('LiberationSerif-Bold.ttf')  format('truetype');
	font-weight: bold;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: #e7eef8;
	margin: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", sans-serif;
	font-size: 12pt;
	min-width: 1000px;
}

main {
	color: #232323;
}

p {
	margin: 10px 0;
}

h1, h2, h3, h4, .heading {
	font-weight: bold;
	color: #303b5a;
}

div.card-section {
	display: table-cell;
	padding: 15px;
	border: 3px solid #cfe4ff;
	border-radius: 20px;
}

div.card-section-header {
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
	margin-bottom: 8px;
}

div.button {
	user-select: none;
	text-align: center;
	cursor: pointer;
	border: 3px solid #3399AA;
	border-radius: 4px;
	opacity: 0.7;
}

div.button:hover {
	opacity: 1;
}

main a {
	text-decoration: none;
	font-weight: bold;
	color: #ef7485;
}

main a:hover {
	color: #566590
}

th {
	text-align: left;
}

td {
	vertical-align: top;
}

img.table-icon {
	width: 40px;
	height: 40px;
}

/* hr must be styled by class */
hr.hr {
	margin: 20px 0;
}
