@font-face {
	font-family: 'Segoe UI';
	src: url('segoeui.ttf')  format('truetype');
}

@font-face {
	font-family: 'Segoe UI';
	src: url('segoeuib.ttf')  format('truetype');
	font-weight:bold;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('segoeuii.ttf')  format('truetype');
	font-style: italic;
}

@font-face {
	font-family: 'Liberation Serif';
	src: url('LiberationSerif-Bold.ttf')  format('truetype');
	font-weight: bold;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: #e7eef8;
	margin: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", sans-serif;
	font-size: 12pt;
	min-width: 1000px;
}

main {
	color: #232323;
}

p {
	margin: 10px 0;
}

h1, h2, h3, h4, .heading {
	font-weight: bold;
	color: #303b5a;
}

div.card-section {
	display: table-cell;
	padding: 15px;
	border: 3px solid #cfe4ff;
	border-radius: 20px;
}

div.card-section-header {
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
	margin-bottom: 8px;
}

div.button {
	user-select: none;
	text-align: center;
	cursor: pointer;
	background-color: #4e81e0;
	border-bottom: 2px solid #303b5a;
	border-radius: 4px;
	opacity: 0.8;
	color: white;
}

div.button:hover {
	opacity: 1;
}

div.button:active {
	border-top: 2px solid white;
	border-bottom-width: 0;
	border-radius: 5px 5px 4px 4px;
}

main a {
	text-decoration: none;
	font-weight: bold;
	color: #ef7485;
	cursor: pointer; /* for anchors without href */
}

main a:hover {
	color: #566590
}

th {
	text-align: left;
}

td {
	vertical-align: top;
}

img.table-icon {
	width: 40px;
	height: 40px;
}

/* hr must be styled by class */
hr.hr {
	margin: 20px 0;
}

.error {
	color: red;
}

div.inline-icon-wrap {
	display: inline-block;
	vertical-align: middle; /*Not ideal to have this inline though*/
}

img.inline-icon {
	width: 20px;
	height: 20px;
	vertical-align: text-bottom;
}

img.inline-icon-big {
	width: 40px;
	height: 40px;
	vertical-align: text-bottom;
}

div.inline-icon-label {
	text-align: center;
}

span.skill-technical-description {
	color: #636c86;
}

span.skill-game-description {
	font-style: normal;
}

span.skill-game-description + span.skill-technical-description {
	margin-left: 5px;
}
