@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ltudsn');
  src:  url('fonts/icomoon.eot?ltudsn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ltudsn') format('truetype'),
    url('fonts/icomoon.woff?ltudsn') format('woff'),
    url('fonts/icomoon.svg?ltudsn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-swap:before {
  content: "\e902";
}
.icon-tooltip:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-cog:before {
  content: "\e994";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-star-full:before {
  content: "\e9d9";
}
